{% extends './../layouts/master.html' %}
{% block content %}
<div class="main-slider">
	<div class="slide-block" style="background-image:url(../images/slider-1.jpg)">
	</div>
	<div class="wrapper">
		<div class="product-text">
			<div class="product-name">
				Full winter kit
			</div>
			<div class="product-descr">
				Half jacket + Skiny trousers + Boot leather
			</div>
			<div class="product-dop-text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			</div>
			<div class="product-buy-line">
				
			</div>
		</div>
		
	</div>
</div>

{% endblock %}
