html{
  font-size: $font-size;
  font-family: $font-open-sans;;
  line-height: $base-line-height;
}
body {
  color: $color-secondary;
}
a{
  color: $color-secondary;
  &:hover, &.selected{
    color: $color-acent;
  }
}
main {
   min-height: calc(100vh - (#{$footer-height} + #{$header-height}));
}

.left-sidebar{

}
.right-sidebar{

}
.content{

}
//if use grid system
.wrapper{
  @include wrapper();
}
.container{
  max-width: $container-max-width;
  min-width: $container-min-width;
  margin: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}
i{
  display: inline-block;
  vertical-align: middle;
}
.ic-phone{
  @include sprite($ic-phone);
}
.ic-mail{
  @include sprite($ic-mail);
}
.ic-fb{
  @include sprite($ic-fb);
}
.ic-google{
  @include sprite($ic-google);
}
.ic-tw{
  @include sprite($ic-tw);
}
.ic-inst{
  @include sprite($ic-inst);
}
.ic-search{
  @include sprite($ic-search);
}
.ic-user{
  @include sprite($ic-user);
}
.ic-cart{
  @include sprite($ic-cart);
}