$ic-cart-name: 'ic-cart';
$ic-cart-x: 20px;
$ic-cart-y: 0px;
$ic-cart-offset-x: -20px;
$ic-cart-offset-y: 0px;
$ic-cart-width: 24px;
$ic-cart-height: 17px;
$ic-cart-total-width: 56px;
$ic-cart-total-height: 50px;
$ic-cart-image: '/images/sprite.png';
$ic-cart: (20px, 0px, -20px, 0px, 24px, 17px, 56px, 50px, '/images/sprite.png', 'ic-cart', );
$ic-fb-name: 'ic-fb';
$ic-fb-x: 36px;
$ic-fb-y: 21px;
$ic-fb-offset-x: -36px;
$ic-fb-offset-y: -21px;
$ic-fb-width: 6px;
$ic-fb-height: 11px;
$ic-fb-total-width: 56px;
$ic-fb-total-height: 50px;
$ic-fb-image: '/images/sprite.png';
$ic-fb: (36px, 21px, -36px, -21px, 6px, 11px, 56px, 50px, '/images/sprite.png', 'ic-fb', );
$ic-fb-2x-name: 'ic-fb@2x';
$ic-fb-2x-x: 44px;
$ic-fb-2x-y: 0px;
$ic-fb-2x-offset-x: -44px;
$ic-fb-2x-offset-y: 0px;
$ic-fb-2x-width: 12px;
$ic-fb-2x-height: 22px;
$ic-fb-2x-total-width: 56px;
$ic-fb-2x-total-height: 50px;
$ic-fb-2x-image: '/images/sprite.png';
$ic-fb-2x: (44px, 0px, -44px, 0px, 12px, 22px, 56px, 50px, '/images/sprite.png', 'ic-fb@2x', );
$ic-google-name: 'ic-google';
$ic-google-x: 14px;
$ic-google-y: 39px;
$ic-google-offset-x: -14px;
$ic-google-offset-y: -39px;
$ic-google-width: 14px;
$ic-google-height: 11px;
$ic-google-total-width: 56px;
$ic-google-total-height: 50px;
$ic-google-image: '/images/sprite.png';
$ic-google: (14px, 39px, -14px, -39px, 14px, 11px, 56px, 50px, '/images/sprite.png', 'ic-google', );
$ic-inst-name: 'ic-inst';
$ic-inst-x: 28px;
$ic-inst-y: 39px;
$ic-inst-offset-x: -28px;
$ic-inst-offset-y: -39px;
$ic-inst-width: 11px;
$ic-inst-height: 11px;
$ic-inst-total-width: 56px;
$ic-inst-total-height: 50px;
$ic-inst-image: '/images/sprite.png';
$ic-inst: (28px, 39px, -28px, -39px, 11px, 11px, 56px, 50px, '/images/sprite.png', 'ic-inst', );
$ic-mail-name: 'ic-mail';
$ic-mail-x: 18px;
$ic-mail-y: 21px;
$ic-mail-offset-x: -18px;
$ic-mail-offset-y: -21px;
$ic-mail-width: 18px;
$ic-mail-height: 11px;
$ic-mail-total-width: 56px;
$ic-mail-total-height: 50px;
$ic-mail-image: '/images/sprite.png';
$ic-mail: (18px, 21px, -18px, -21px, 18px, 11px, 56px, 50px, '/images/sprite.png', 'ic-mail', );
$ic-phone-name: 'ic-phone';
$ic-phone-x: 44px;
$ic-phone-y: 22px;
$ic-phone-offset-x: -44px;
$ic-phone-offset-y: -22px;
$ic-phone-width: 12px;
$ic-phone-height: 12px;
$ic-phone-total-width: 56px;
$ic-phone-total-height: 50px;
$ic-phone-image: '/images/sprite.png';
$ic-phone: (44px, 22px, -44px, -22px, 12px, 12px, 56px, 50px, '/images/sprite.png', 'ic-phone', );
$ic-search-name: 'ic-search';
$ic-search-x: 0px;
$ic-search-y: 21px;
$ic-search-offset-x: 0px;
$ic-search-offset-y: -21px;
$ic-search-width: 18px;
$ic-search-height: 18px;
$ic-search-total-width: 56px;
$ic-search-total-height: 50px;
$ic-search-image: '/images/sprite.png';
$ic-search: (0px, 21px, 0px, -21px, 18px, 18px, 56px, 50px, '/images/sprite.png', 'ic-search', );
$ic-tw-name: 'ic-tw';
$ic-tw-x: 0px;
$ic-tw-y: 39px;
$ic-tw-offset-x: 0px;
$ic-tw-offset-y: -39px;
$ic-tw-width: 14px;
$ic-tw-height: 11px;
$ic-tw-total-width: 56px;
$ic-tw-total-height: 50px;
$ic-tw-image: '/images/sprite.png';
$ic-tw: (0px, 39px, 0px, -39px, 14px, 11px, 56px, 50px, '/images/sprite.png', 'ic-tw', );
$ic-user-name: 'ic-user';
$ic-user-x: 0px;
$ic-user-y: 0px;
$ic-user-offset-x: 0px;
$ic-user-offset-y: 0px;
$ic-user-width: 20px;
$ic-user-height: 21px;
$ic-user-total-width: 56px;
$ic-user-total-height: 50px;
$ic-user-image: '/images/sprite.png';
$ic-user: (0px, 0px, 0px, 0px, 20px, 21px, 56px, 50px, '/images/sprite.png', 'ic-user', );
$we-name: 'we';
$we-x: 39px;
$we-y: 39px;
$we-offset-x: -39px;
$we-offset-y: -39px;
$we-width: 9px;
$we-height: 9px;
$we-total-width: 56px;
$we-total-height: 50px;
$we-image: '/images/sprite.png';
$we: (39px, 39px, -39px, -39px, 9px, 9px, 56px, 50px, '/images/sprite.png', 'we', );
$spritesheet-width: 56px;
$spritesheet-height: 50px;
$spritesheet-image: '/images/sprite.png';
$spritesheet-sprites: ($ic-cart, $ic-fb, $ic-fb-2x, $ic-google, $ic-inst, $ic-mail, $ic-phone, $ic-search, $ic-tw, $ic-user, $we, );
$spritesheet: (56px, 50px, '/images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
