////_____fonts property_____/////////
$font-path: '/fonts/';
$font-open-sans: 'Open Sans';
$font-roboto: 'Roboto';

$font-size: 16px;
/////////////////////////////////////

////___typography property____//////
$base-line-height: 1.5;

////____text colors property___//////
//$color-primary:
//$color-acent:
//$color-secondary:

$color-black: #000;
////////////////////////////////////

////////___size of layouts___///////
$container-max-width: 1200px;
$container-min-width: 320px;
$container-padding: 15px;

$desktop-width: 1000px;

$header-height: 180px;
$footer-height: 150px;
$sidebar-left: 240px;
$sidebar-right: 200px;
///////////////////////////////////
