<div class="wrapper">
  <div class="top-line">
    <div class="link-block">
      <a href="#" title=""><i class="ic-mail"></i><span>info@shopy.com</span></a>
      <a href="#"><i class="ic-phone"></i><span>996 - 5553 - 453</span></a>
    </div>
    <div class="soc-block">
      right icons
    </div>
  </div>
  <div class="header-block">
    <a href="#" title=""><img src="./images/logo.png" alt=""></a>
    <ul class="top-menu">
      <li><a href="#" title="">Menu</a></li>
      <li><a href="#" title="">Menu</a></li>
      <li><a href="#" title="">Menu</a></li>
      <li><a href="#" title="">Menu</a></li>
      <li><a href="#" title="">Menu</a></li>
      <li><a href="#" title="">Menu</a></li>
    </ul>
  </div>
</div>
