<div class="wrapper">
  <div class="top-line">
    <div class="link-block">
      <a href="#" title=""><i class="ic-mail"></i><span>info@shopy.com</span></a>
      <a href="#"><i class="ic-phone"></i><span>996 - 5553 - 453</span></a>
    </div>
    <div class="soc-block">
      <ul>
        <li><a href="#" title=""><i class="ic-fb"></i></a></li>
        <li><a href="#" title=""><i class="ic-tw"></i></a></li>
        <li><a href="#" title=""><i class="ic-google"></i></a></li>
        <li><a href="#" title=""><i class="ic-inst"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="header-block">
    <div class="left-block">
      <a href="#" title=""><img src="./images/logo.png" alt=""></a>
      <ul class="top-menu">
        <li><a href="#" title="">Home</a></li>
        <li><a href="#" title="">Products</a></li>
        <li><a href="#" title="">Hot Deals</a></li>
        <li><a href="#" title="">About</a></li>
        <li><a href="#" title="">Contact</a></li>
      </ul>
    </div>
    <div class="cart-block">
      <a href="#" title=""><i class="ic-search"></i></a>
      <a href="#" title=""><i class="ic-user"></i></a>
      <a href="#" title=""><i class="ic-cart"><span class="cart-count">5</span></i></a>
    </div>
  </div>
</div>
